.navbar a {
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
}


/*a:hover{
    color:yellow;
}*/


/* VARIABLES*/

:root {
    --BG: #E4E4E4;
    --WHITE-TITLE: #E4E4E4;
    --MAIN-BLUE: #1E65E9;
    --LIGHT-BLUE: #BDCEEF;
    --GREY-TEXT: #353535;
    --DARKER-BLUE: #041127;
}


/* HEADER */

header {
    z-index: 1;
    /* position: relative; */
    position: fixed;
    width: 100%;
    /* making the deader a parent*/
    padding: 0 2rem;
    /*No padding on Top and Buttom but 2rem padding on Left and Right*/
    background-color: var(--DARKER-BLUE);
    /*background-image: linear-gradient(to right, #323f52, #193e69);*/
    /* background-image: linear-gradient(to right, #051c3f, #01000f); */
    /*background-image: linear-gradient(to right, #28526A, #12191F);*/
    /*linear background color gradient on header*/
    box-shadow: 0 0 5px 5px #04112757;
}

.navbar {
    width: 100%;
    height: 60px;
    /*a fixed height*/
    max-width: 1200px;
    margin: 0 auto;
    /*No margin on the top and bottom but automatic(with resize) margin on corners*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
}

p .navbar .logo .brand-name {
    /*BRAND NAME*/
    color: white;
    /*color:  var(--DARKER-BLUE);*/
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem
}


/*ACTION BUTTON*/

.action-btn:any-link {
    background-color: #1E65E9;
    color: var(--WHITE-TITLE);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    transition: scale 1.5 ease;
}

.action-btn:hover {
    scale: 1.05;
    color: #FFF;
}

.action-btn:active {
    /*When clicked*/
    scale: 0.95;
}


/* DROPDOWN MENU */

.dropdown_menu {
    display: none;
    /*of course initialy the menu is not visible. until user clicks on menu icon*/
    /*position:initial;*/
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    /* initially height is 0 and will increase when menu button is pressed*/
    width: 300px;
    background: rgb(15, 15, 15, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
    /*    VERY IMPORTANT ! */
}

.dropdown_menu.open {
    /* opens or make visible dropdown_menu*/
    height: 300px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* RESPONSIVE DESIGN */

@media (max-width: 992px) {
    /* header*/
    .navbar .links,
    .navbar .action-btn {
        display: none;
    }
    /*making the menu-button visible*/
    .navbar .menu-btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        /* drop down menu will take whole screen width when screen is small*/
        left: 2rem;
        width: unset;
    }
}


/*MENU ICON*/

.menu-btn {
    z-index: 0;
    background-color: transparent;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    /*aligning horizontally*/
    align-items: center;
    /*aligning vertically*/
    position: relative;
    /*making the element a parent*/
    cursor: pointer;
    display: none;
    opacity: 80%;
    /* will be activated by media query*/
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
    /*background-color: white;*/
    background-color: white;
    width: 35px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s;
    z-index: 100 !important;
}

.menu-icon::before,
.menu-icon::after {
    content: "";
    /*we're doing this for the before and after icons to be visible*/
}

.menu-icon::before {
    transform: translate(-20px, -12px);
}

.menu-icon::after {
    transform: translate(-20px, 12px);
}

nav {
    background-color: var(--HEADER-BGCOLOR);
    transform-origin: top center;
    /*           TODO: Uncomment the animation*/
    /*animation: showMenu 0.5s ease-in-out forwards; /*assigning an animation to the nav element*/
}

@keyframes showMenu {
    /*Animation revealing the nav bar*/
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.2);
        /*slighty exceeding the nav height to give it a bounce effect*/
    }
    100% {
        transform: scaleY(1);
        /*after slighty exceeding height, come back to normal height*/
    }
}


/*Defining the hover state of the sandwich menu icon*/

:is(.menu-btn:active, .menu-btn:active) .menu-icon {
    background-color: transparent;
    /* making middle line transparent*/
}

:is(.menu-btn:active, .menu-btn:active) .menu-icon::before {
    transform: translate(-20px, 20px)/* cross forward*/
}

:is(.menu-btn:active, .menu-btn:active) .menu-icon::after {
    transform: translate(-20px, -20px)/* cross back*/
}